<div class="row main">

  <!-- map -->
  <div id='map' class="map column column-lg-7"></div>

  <!-- info panel -->
  <div id='infoPanel' class="info column column-lg-5">
    <h1 class="d3bq-title">{{title}}</h1>
    <div id='selected'>
      <h1>Explore bbqs</h1>
      <p class="map-description">Welcome to d3bq, a <a href="https://en.wikipedia.org/wiki/Voronoi_diagram" target="_blank">voronoi map</a> visualizing 50 of the top BBQ spots in U.S.</p>
    </div>
  </div>

  <!-- "drawing" ui between re-draws -->
  <div id='loading'>
  </div>

</div>
