<div class="row main">

  <!-- map -->
  <div id='map' class="map column column-lg-7"></div>

  <!-- info panel -->
  <div id='infoPanel' class="info column column-lg-5">
    <h1 class="d3bq-title">{{title}}</h1>
    <div id='selected'>
      <h1>Explore bbqs</h1>
      <p class="map-description">Welcome to d3bq, a <a href="https://en.wikipedia.org/wiki/Voronoi_diagram">voronoi</a> map visualization of 50 of the top BBQ spots in U.S.</p>
    </div>
  </div>

  <!-- "drawing" ui between re-draws -->
  <div id='loading'>
  </div>

  <script>
  // draw map
  L.mapbox.accessToken = 'pk.eyJ1IjoicGV0ZXJnY3V0bGVyIiwiYSI6ImNpZWt1MnczdDAwNDJzbW00OGhidXNnenEifQ.Zcv598pJc80mbyWueMSDmw';
  var map = L.mapbox.map('map', 'mapbox.outdoors', { zoomControl: false })
    .setView([33.633, -88.088], 6)

  new L.Control.Zoom({ position: 'topright' }).addTo(map);

  // format API call
  url = $.getJSON("/barbecues").then(function(data){
    var array = []
    data[0].features.forEach(function(dataSet){
      array.push(dataSet.properties)
    })
    voronoiMap(map, array)
    return array
  })
  </script>

</div>
