<div class="row main">

  <div id='map' class="map column column-lg-7"></div>

  <div id='infoPanel' class="info column column-lg-5">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>    
  </div>

</div>
