<!DOCTYPE html>
<html>
  <head>
    <title>d3bq: Smart BBQ Trips</title>
    <!-- load Mapbox  -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <!-- load styles  -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- load favicon -->
    <link rel="icon" type="image/png" href="/images/d3bq_fav.png" />
    <!-- load jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- load angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!--   load d3    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <!-- load script  -->
    <script type="javascript" src="javascripts/script.js"></script>
    <!-- load voronoi -->
    <script type="javascript" src="javascripts/voronoi_map.js"></script>
  </head>
  
  <body>
    {{{body}}}
  </body>
</html>
