/* -----------------------------------*/
/* ---           RESETS            ---*/
/* -----------------------------------*/

/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to
/* change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* -----------------------------------*/
/* ---           COLUMNS           ---*/
/* -----------------------------------*/

.column-1 {
  width: 8.333%;
}

.column-2 {
  width: 16.66%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.33%;
}

.column-5 {
  width: 41.66%;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.33%;
}

.column-8 {
  width: 66.66%;
}

.column-9 {
  width: 75%;
}

.column-10 {
  width: 83.33%;
}

.column-11 {
  width: 91.66%;
}

.column-12 {
  width: 100%;
}



/* -----------------------------------*/
/* ---           CORE              ---*/
/* -----------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.d3bq-title {
  color: #c0392b;
  letter-spacing: .05em;
  margin: .8em 0 0 .8em;
  font-size: 2em;
  font-weight: 700;
}

.map-description {
  color: #666666;
  margin: .7em 1.2em 1em 2em;
  line-height: 1.4em;
  font-size: .96em;
  font-weight: 400;
}

.map-description a:link, a:visited, a:hover {
  text-decoration: none;
  color: #c0392b;
}

#selected h1 {
  margin: .7em .7em 0 1.1em;
  color: #666666;
  line-height: 1.4em;
  font-size: 1.4em;
  font-weight: 400;
  text-overflow: ellipsis;
}

#infoPanel {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* -----------------------------------*/
/* ---           MEDIA             ---*/
/* -----------------------------------*/

body {
  height: 100%;
}

@media (min-width: 0) {
  #map {
    height: 50vh;
    width: 100vw;
  }

  #infoPanel {
    width: 100vw;
  }
}

@media (min-width: 40em) {
  #map {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  #infoPanel {
    width: 20em;
    height: 15em;
    background-color: white;
    position: fixed;
    margin-top: 1.6em;
    margin-left: 1.6em;
  }

  .column {
    float: left;
  }
}



/* -----------------------------------*/
/* ---           VORONOI           ---*/
/* -----------------------------------*/

.point-cell {
  fill: none;
  pointer-events: all;
  stroke: #000;
  stroke-opacity: .3;
}

.point-cell:hover, .point-cell.selected {
  fill: none;
  stroke: #e74c3c;
  stroke-opacity: .8;
  stroke-width: .14em;
}

.point-cell.selected {
  stroke-opacity: 1;
  stroke-width: .2em;
}

.point circle {
  pointer-events: none;
}



/* -----------------------------------*/
/* ---         LOADING UI          ---*/
/* -----------------------------------*/

#loading:after {
  position:absolute;
  background-color: #FFF;
  opacity: 0.8;
  border-radius: 2px;
  padding: 10px 10px 0 10px;
}

#loading.visible:after {
  top: 50%;
  left: 50%;
  height: 28px;
  width: 80px;
  margin-left: -50px;
  margin-top: -30px;
  content: 'drawing...';
  font-size: 18px;
}
