/* -----------------------------------*/
/* ---           RESETS            ---*/
/* -----------------------------------*/

/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to
/* change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* -----------------------------------*/
/* ---           COLUMNS           ---*/
/* -----------------------------------*/

.column-1 {
  width: 8.333%;
}

.column-2 {
  width: 16.66%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.33%;
}

.column-5 {
  width: 41.66%;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.33%;
}

.column-8 {
  width: 66.66%;
}

.column-9 {
  width: 75%;
}

.column-10 {
  width: 83.33%;
}

.column-11 {
  width: 91.66%;
}

.column-12 {
  width: 100%;
}



/* -----------------------------------*/
/* ---           CORE              ---*/
/* -----------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}



/* -----------------------------------*/
/* ---           MEDIA             ---*/
/* -----------------------------------*/

body {
  height: 100%;
}

@media (min-width: 0) {
  #map {
    height: 50vh;
    width: 100vw;
  }

  #infoPanel {
    width: 100vw;
  }
}

@media (min-width: 40em) {
  #map {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: fixed;
  }

  #infoPanel {
    width: 16em;
    height: 40em;
    background-color: white;
    z-index: 5;
    position: fixed;
    margin-top: 1.6em;
    margin-left: 1.6em;
  }

  .column {
    float: left;
  }
}







body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.point-cell {
  fill: none;
  pointer-events: all;
  stroke: #000;
  stroke-opacity: .2;
}

.point-cell:hover, .point-cell.selected {
  fill: none;
  stroke: #000;
  stroke-opacity: .6;
  stroke-width: 2px;
}

.point-cell.selected {
  stroke-opacity: 1;
  stroke-width: 3px;
}

.point circle {
  pointer-events: none;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#selected,
#selections,
#loading:after,
#about {
  position:absolute;
  background-color: #FFF;
  opacity: 0.8;
  border-radius: 2px;
  padding: 10px 10px 0 10px;
}

#about {
  bottom: 10px;
  right: 10px;
}

#about.visible {
  width: 200px;
}

#about .hide {
  padding-bottom: 0;
  text-align: right;
}

#loading.visible:after {
  top: 50%;
  left: 50%;
  height: 28px;
  width: 80px;
  margin-left: -50px;
  margin-top: -30px;
  content: 'drawing...';
  font-size: 18px;
}

#selections {
  right:10px;
  top:10px;
  width: 190px;
}

#selections label {
  display: block;
  padding-bottom: 8px;
}

#selections input[type=checkbox] {
  position: relative;
  top: -1px;
}

#selections .key {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0 5px;
}

#selected {
  bottom: 10px;
  left: 10px;
  height: 28px;
}

#selected h1 {
  font-size: 20px;
  margin: 0px;
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide,
.show {
  padding-bottom: 10px;
  display: block;
}

.content {
  display: none;
}

@media (min-width: 480px) {
  .selections .content {
    display: block;
  }
  .selections .show {
    display: none;
  }
}

.hidden .content,
.visible .show {
  display: none;
}

.hidden .show,
.visible .content {
  display: block;
}

@media (max-width: 480px) {
  #selected {
    box-sizing: border-box;
    width: 80%;
    height: 32px;
  }

  #selected h1 {
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
  }
}

.mapbox-control-info {
  display: none !important;
}
